// $largeScreen = 'screen and (min-width: 1600px)'
// $noLargeScreen = 'screen and (max-width 1599px)'
// $middleScreen = 'screen and (min-width: 1280px) and (max-width: 1599px)'
// $smallScreen = 'screen and (min-width: 1024px) and (max-width: 1279px)'
// $aboveSmallScreen = 'screen and (min-width: 1280px)'

// $devices = 'screen and (max-width: 1023px)'
// $onlyDevices = 'screen and (min-width: 761px) and (max-width: 1023px)'
// $noDevices = 'screen and (min-width: 1024px)'

// $tablet = 'screen and (max-width: 960px)'
// $onlyTablet = 'screen and (min-width: 761px) and (max-width: 960px)'
// $noTablet = 'screen and (min-width: 961px)'

// $phones = 'screen and (max-width: 760px)'
// $noPhones = 'screen and (min-width: 761px)'

// $middlePhones = 'screen and (max-width: 480px)'
// $noMiddlePhones = 'screen and (min-width: 481px)'
// variables goes here