// Vendor
@import '/vendor/normalize'
@import '/vendor/*vendor_name*'

// Base stuff
@import '_variables'
@import 'fonts'
@import 'base'
@import 'common'
@import '_mixins'

// Blocks
@import '/blocks/*block_name*'

// Elements
@import '/elements/*element_name*'