.btn
	box-shadow none
	cursor pointer
	text-decoration none
	display inline-block

	body:not(.is-touch-device) &.is-hidden
		display none

	&_share
		border 1px solid #171717
		border-radius 50%
		background-color #fff
		width 36px
		height 36px
		line-height 36px
		padding 0
		text-align center
		transition background-color .3s ease-in-out

		&:hover, &:active
			background-color #171717
			.icon
				fill #fff

	&_offer
		font-weight bold
		line-height 1
		text-align center
		transition background-color .3s ease-in-out
		background-color #f3ebdc
		border 1px solid #f3ebdc
		color #000
		text-transform uppercase
		@media $noMiddlePhones
			font-size 14px
			border-radius 24px
			padding 18px 10px
			width 150px
		@media $middlePhones
			font-size 14px
			border-radius 24px
			padding 16px 10px
			width 130px
			position absolute
			bottom 17px
			left 0

		&:hover, &:active
			background-color #e2dbce
		&.btn_small
			width 105px
			font-size 12px
			padding 12px 10px

	&_default
		font-size 12px
		line-height 1
		text-align center
		border-radius 24px
		padding 16px 10px
		min-width 140px
		text-transform uppercase
		transition background-color .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out

		&.btn_big
			@media $noDevices
				padding 26px
				border-radius 34px
			@media $onlyDevices
				padding 22px 26px
				border-radius 29px
			@media $phones
				padding 18px 26px
				border-radius 25px

		&.btn_middle
			letter-spacing .6px
			@media $noDevices
				padding 22px 20px
				border-radius 29px
				min-width 168px
			@media $devices
				padding 16px 20px
				border-radius 23px
				min-width 148px

		&.btn_small
			font-size 10px
			padding 12px 10px
			border-radius 18px
			min-width 105px
			letter-spacing .6px

		&.btn_reg
			font-size 18px
			padding 15px 20px
			border-radius 25px
			text-transform none

	&_black
		background-color #171717
		border 1px solid #171717
		color #fff

		&:hover, &:active
			background-color #f3ebdc
			border-color #f3ebdc
			color #171717

	&_white
		color #1a1a1a
		background-color #17171700
		border 1px solid #d9c8aa

		&:hover, &:active
			background-color #171717
			border-color #171717
			color #fff

	&_wide
		min-width 200px

	&_arrow-r
		display inline-flex
		align-items center
		justify-content center
		border-radius 50%
		color #fff
		background-color #171717
		border 1px solid #171717
		padding 0
		text-align center
		transition background-color .3s ease-in-out
		@media $noDevices
			width 36px
			height 36px
			line-height 36px
		@media $onlyDevices
			width 26px
			height 26px
			line-height 26px

		&:hover, &:active
			background-color #fff
			.icon
				fill #171717

	&_cart
		vertical-align top
		border-radius 50%
		background-color #171717
		border 1px solid #171717
		box-shadow 0 20px 40px 0 #a8acb99e
		border 0
		transition background-color .3s ease-in-out, border-color .3s ease-in-out
		@media $noDevices
			width 58px
			height 58px
			padding 14px 0
		@media $devices
			width 46px
			height 46px
			padding 10px 0
		&:hover, &:active
			background-color #f3ebdc
			border-color #f3ebdc
			.icon
				fill #171717
