.icons
	display none

.icon
	max-width 100%
	max-height 100%

	&_white
		fill #fff

	&_logo
		width 149px
		height 45px
		fill #343434

	&_share
		fill #171717
		max-width 12px

	&_arrow-right_black
		max-width 8px
		fill #fff

	&_close_white
		fill #fff

	&_close-popup
		fill #000

	&_header
		fill #1A1A1A
		transition fill .3s ease-in-out
		&:hover,
		&:active
			fill #1A1A1A

	&_available
		width 20px
		height 20px
		vertical-align sub

	&_star
		fill #cfcfcf
		transition fill .3s ease-in-out

	&_zoom-in
		fill #565656
		transition fill .3s ease-in-out
		&:hover,
		&:active
			fill #333

	&[class*='icon_slider-']
		transition fill .3s ease-in-out

	&.icon_slider-next_type1
	&.icon_slider-prev_type1
		fill #eee

	&.icon_slider-next_type2
	&.icon_slider-prev_type2
		fill #d9d9d9

	&[class*="pagination"]
		fill #3a405b
		height 10px

	&[class*="checkbox"]
		fill #171717

	&_cart
		&:not(.icon_header)
			vertical-align middle
			fill #fff
			transition fill .3s ease-in-out